<div class="container login-container">
    <div class="login-form-2">
        <h3>Please enter your name</h3>
        <form method="POST">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Your Name *" value="" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btnSubmit" value="Submit" />
            </div>
        </form>
    </div>
</div>